.applications-container {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.applications-links-container {
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(223, 223, 223);
}

.applications-links {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.applications-links-container li {
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.applications-links-container .active-link {
    border-bottom: 2px solid green;
}


